@mixin txt_menu_1 {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #2c5770;
}
@mixin txt_menu_2 {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #2c5770;
}
@mixin txt_menu_3 {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.03em;
    color: #2c5770;
}
@mixin txt_menu_4 {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.05em;
    color: #2c5770;
}

@mixin small_text_14 {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
}
@mixin sssmal_text_12 {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    color: #606566;
}
@mixin text_bold_18 {
    font-weight: 500;
}
@mixin small_text_bold_14 {
    font-weight: 500;
}

@mixin txt_but_big {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 3rem;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}
