html {
}
body {
    letter-spacing: 0.03em;
}
.footer {
    color: #d6d6d6;
}
.container-fluid {
    max-width: 1920px;
}
.sssmal_text_12 {
    font-style: normal;
    font-weight: 300;
    font-size: 0.667rem;
    line-height: 0.778rem;
    letter-spacing: 0.05em;
}

h1,
.h1 {
    font-family: "TT Severs";
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1em;
    letter-spacing: initial;
}
h2,
.h2 {
    font-family: "TT Severs";
    font-weight: bold;
    line-height: 1em;
    letter-spacing: initial;
}
h3,
.h3 {
    font-family: "TT Severs";
    font-weight: bold;
    line-height: 1.11em;
    letter-spacing: initial;
}
h4,
.h4 {
    font-family: "TT Severs";
    font-weight: 300;
    line-height: 1em;
    letter-spacing: initial;
}
h5,
.h5 {
    font-family: "TT Severs";
    font-weight: bold;
    line-height: 1.17em;
    letter-spacing: initial;
}
.h5_underline {
    font-family: "Montserrat";
    font-weight: bold;
    line-height: 1em;
    text-decoration-line: underline;
    letter-spacing: initial;
}
h6,
.h6 {
    font-family: "TT Severs";
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.92em;
    letter-spacing: initial;
}
.h7 {
    font-family: "TT Severs";
    font-weight: bold;
    text-transform: uppercase;
    font-size: 48px;
    line-height: 0.75em;
    letter-spacing: initial;
}
.sub_h1 {
    font-family: "TT Severs";
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: initial;
}
.sub_h2 {
    font-family: "TT Severs";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: initial;
}
.btn {
    font-weight: bold;
    letter-spacing: 0.03em;
    outline: none !important;
}

.btn-inverse {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
}

.btn-inverse:hover {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
}

.btn-inverse:focus,
.btn-inverse.focus {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
    // box-shadow: 0 0 0 0.2rem rgba(76, 112, 133, 0.5);
}

.btn-inverse.disabled,
.btn-inverse:disabled {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
}

.btn-inverse:not(:disabled):not(.disabled):active,
.btn-inverse:not(:disabled):not(.disabled).active,
.show > .btn-inverse.dropdown-toggle {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
}

.btn-inverse:not(:disabled):not(.disabled):active:focus,
.btn-inverse:not(:disabled):not(.disabled).active:focus,
.show > .btn-inverse.dropdown-toggle:focus {
    // box-shadow: 0 0 0 0.2rem rgba(76, 112, 133, 0.5);
}
