.footer-top {
    background: #2c5770;
    padding: 6rem 0;
    .footer-logo {
        max-width: 282px;
        display: block;
    }
    .col:nth-child(2) {
        ul:first-child {
            margin-bottom: 4.275rem;
            li {
                @include txt_menu_4;
                margin-bottom: 1.375rem;
                a {
                    color: #d6d6d6;
                }
            }
        }
    }
    .col:nth-child(3) {
        ul:first-child {
            margin-bottom: 3rem;
            li {
                @include txt_menu_1;
                margin-bottom: 0.625rem;
                text-transform: uppercase;
                a {
                    position: relative;
                    display: block;
                    color: #d6d6d6;
                    text-decoration: none !important;
                    padding-bottom: 7px;
                }
            }
        }
        ul:nth-child(2) {
            li {
                @include txt_menu_1;
                a {
                    display: block;
                    color: #d6d6d6;
                    text-decoration: none !important;
                }
            }
        }
    }
    .col:nth-child(4) {
        .form-group {
            label {
                @include text_bold_18;
                margin-bottom: 2rem;
            }
            input {
                max-width: 240px;
                margin-left: 1.2rem;
                line-height: 44px;
                height: 44px;
                background: #c4c4c4;
                border: none;
                outline: none !important;
                @include box-shadow(none);
            }
            small {
                @include small_text_14;
            }
        }
        .d-flex {
            div:nth-child(1) {
                @include text_bold_18;
                line-height: 2rem;
            }
        }
    }
}
.footer-bottom {
    background: #1e2b32;
    p {
        @include sssmal_text_12;
        color: #d6d6d6;
        padding: 1rem 5rem;
        margin-bottom: 0;
    }
}
