.header {
    z-index: 10;
    + main {
        padding-top: 3.725rem;
    }
    .header-top {
        position: fixed;
        min-height: 3.725rem;
        width: 100%;
        z-index: 11;
        top: 0;
        background-color: #ffffff;
        border-bottom: 1px solid $graybg;
        left: 0;
        svg {
            fill: transparent;
            stroke: $primary;
            // ellipse {
            //     fill: #ffffff;
            // }
        }
        .header-full-content {
            display: none;
        }
        .header-short-content {
            a.logo,
            a.burger {
                text-transform: uppercase;
                @include txt_menu_3;
                svg {
                    fill: $primary;
                }
            }
        }
        .header-top-menu {
            ul {
                li {
                    @include txt_menu_4;
                    line-height: 2.31rem;
                    margin-right: 2rem;
                }
            }
        }
        + section {
            display: none;
            padding-top: 3.725rem;
        }
    }
    .bg-dark {
        border-bottom: 1px solid transparent;
        color: #ffffff;
        a {
            color: #ffffff;
        }
        svg {
            fill: transparent;
            stroke: #d6d6d6;
            // ellipse {
            //     fill: #ffffff;
            // }
        }
        input {
            min-width: 27rem;
            line-height: 2.31rem;
            background: transparent;
            color: #d6d6d6;
            border: 1px solid #d6d6d6;
        }
    }
    .search-container {
        position: relative;
        button {
            position: absolute;
            right: 0;
            top: 0;
            border: none;
            @include box-shadow(none);
            background: transparent !important;
        }
        input {
            min-width: 27rem;
            line-height: 2.31rem;
            background: transparent;
        }
    }
    .header-lang {
        position: absolute;
        left: 100%;
        top: 0;
        .lang-menu {
            a {
                &.active {
                    text-transform: uppercase;
                    font-weight: bold;
                }
                font-family: "Roboto Condensed", sans-serif;
                line-height: 2.31rem;
            }
        }
    }
    .header-bottom-logo {
        position: absolute;
        left: -7.875rem;
        z-index: 1;
        a {
            display: block;
            color: $primary !important;
            text-decoration: none !important;
        }
    }
    .header-bottom-menu {
        ul {
            li {
                padding: 0;
                border-color: $primary;
                a {
                    @include txt_menu_4;
                    display: block;
                    padding: 0.6875rem 0;
                    text-decoration: none;
                }
            }
            li.list-group-item-header {
                border-bottom-width: 4px;
                a {
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 24px;
                    white-space: nowrap;
                    letter-spacing: 0.05em;
                    text-transform: uppercase;
                }
            }
            li:last-child {
                border-bottom-width: 1px;
            }
        }
    }
}
.home {
    .header {
        .header-full-menu {
            display: block;
        }
        .header-short-content {
            display: none;
        }
        + main {
            padding-top: 0;
            margin-top: 3.725rem;
        }
    }
}
