@use "sass:map";
.popular-categories-section {
    background-image: url("/images/dot.png");
    padding-top: 3rem;
    padding-bottom: 3rem;
    @media (min-width: map.get($grid-breakpoints, "xxl")) {
        margin-bottom: 9rem;
    }
}
.popular-categories {
    .h4 {
        text-align: center;
    }
    .categories {
        margin-top: 3rem;
        margin-bottom: 3rem;
        a {
            display: block;
            padding: 4vw 0;
            width: 15%;
            position: relative;
            background-color: $white;
            p {
                @include txt_menu_1;
                color: $white;
                letter-spacing: 0.05em;
                text-transform: uppercase;
                margin: 0;
                padding: 0;
                font-size: 0.875rem;
                line-height: 0.875rem;
            }
            &:before {
                width: 110%;
                height: 110%;
                left: -5%;
                top: -5%;
                border: 1px solid $gray;
                position: absolute;
            }
            &:hover {
                &:before {
                    content: "";
                }
            }
        }
    }
    .btn {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
    @media (min-width: map.get($grid-breakpoints, "md")) {
        .categories {
            a {
                p {
                    @include txt_menu_1;
                }
                &:before {
                }
                &:hover {
                    &:before {
                    }
                }
            }
        }
        .btn {
            padding: 0.475rem 4.25rem;
        }
    }
    @media (min-width: map.get($grid-breakpoints, "xxl")) {
        .categories {
            a {
                padding: 5rem 0;
            }
        }
    }
}
