@use "sass:map";
#homeAbout {
    color: white;
    padding: 8rem 0 6rem;
    background-color: $primary;
    .background-logo {
        position: absolute;
        top: 2rem;
        width: 100%;
        max-width: 23.75rem;
        margin-left:50%;
        transform: translateX(-50%);
        svg {
            left: 0;
            top: 0;
            margin-left: -5%;
            width: 110%;
        }
    }
    .h2{
        margin-top: 52vw;
        font-size: 7.25vw;
        line-height: 7.25vw;
        text-align: center;
    }
    hr {
        margin: 1.175rem 0 1.725rem;
        background-color: white;
        height: 6px;
    }
    ul {
        margin-top: 6rem;
        li {
            line-height: 1.75rem;
            a {
                color: #fff;
            }
            &:nth-child(2n + 1) {
                a {
                    color: $pink;
                }
            }
        }
    }
    .rolling-strings {
        margin-top: 6rem;
        .h7 {
            padding: 0.7rem 3rem 0.2rem;
            background-color: $pink;
            margin: 0.375rem;
            line-height: 1;
        }
    }
    @media (min-width: map.get($grid-breakpoints, "md")) {
        .h2{
            margin-top: 12vw;
            font-size: 2.5rem;
            line-height: 3rem;
            text-align: left;
        }
        .background-logo {
            position: absolute;
            top: 4rem;
            width: 20rem;
            right:0;
            margin-left:0;
            transform: translateX(0);
            svg {
                left: 0;
                top: 0;
                margin-left: 0;
                width: 100%;
            }
        }
    }
}
