// Banner
@use "sass:map";
@import "~slick-carousel/slick/slick.scss";
@import "~slick-carousel/slick/slick-theme.scss";
.home-banner {
    padding: 2rem 0;
    background: $fonlight;
    .h5 {
        text-align: center;
    }
    &:before {
        display: block;
        width: 40%;
        height: 80%;
        position: absolute;
        top: 10%;
        z-index: 1;
        background-image: url("/images/dot.png");
    }
    div {
        z-index: 2;
        outline: none !important;
        &.container {
            z-index: 3;
        }
    }
    .carousel {
        padding-bottom: 6.75rem;
        > div:first-child {
            background-color: $white;
            padding: 1.255rem 0.875rem;
        }
        hr {
            margin-top: 0rem;
            margin-bottom: 0.675rem;
            border: 0;
            border-bottom: 0.25rem solid $dark;
        }
        .carousel-button {
            position: absolute;
            z-index: 1;
            left: 0;
            bottom: 0;
            text-align: center;
            width: 100%;
            .btn {
                margin: 0;
                font-weight: bold;
                font-size: 1.125rem;
                line-height: 2rem;
                background-color: white !important;
                padding: 0.25rem 2.25rem;
            }
        }
        .carousel-arrows {
            right: 0;
            z-index: 1;
            bottom: 3.875rem;
        }
        .carousel-counter {
            @include txt_menu_1;
            font-weight: normal;
            position: absolute;
            z-index: 0;
            bottom: 3.875rem;
            color: $dark;
        }
        .btn {
            margin-bottom: 1.25rem;
        }
        .btn-control {
            margin: 0;
        }
    }
    @media (min-width: map.get($grid-breakpoints, "sm")) {
    }
    @media (min-width: map.get($grid-breakpoints, "md")) {
        padding: 3.75rem 0 2.725rem;
        .h5 {
            font-size: 2.25rem;
            line-height: 3rem;
            text-align: left;
        }
        .carousel {
            // padding-bottom: 9.75rem;
            > div:first-child {
                background-color: transparent;
                padding: 0;
            }
            .carousel-button {
                width: auto;
                bottom: 1.875rem;
                .btn {
                    padding: 0.22rem 3.25rem;
                }
            }
            hr {
                border-bottom-width: 0.5rem;
            }
            .carousel-counter {
                bottom: 1.875rem;
                right: 9.125rem;
                line-height: 3.125rem;
            }
            .carousel-arrows {
                bottom: 1.875rem;
            }
            .h5_underline {
                font-size: 1.125rem;
                line-height: 1.25rem;
            }
            .btn {
                margin-bottom: 2rem;
                font-size: 1.475rem;
                padding-right: 2rem;
                padding-left: 2rem;
            }
            .btn-control {
                margin: 0;
            }
        }
    }
    @media (min-width: map.get($grid-breakpoints, "xl")) {
        padding: 10rem 0 3.725rem;
        &:before {
            content: "";
            height: 85%;
        }
        .carousel {
            padding-bottom: 8.75rem;
            .carousel-button {
                .btn {
                    font-size: 1.5rem;
                    line-height: 1.5rem;
                    padding: 0.875rem 3.25rem;
                }
            }
            .carousel-counter {
                line-height: 3.75rem;
                right: auto;
                left: 50%;
                margin-left: -1rem;
            }
            .h5_underline {
                font-size: 18px;
                line-height: 21px;
            }
            .btn {
                // padding: 0.75rem 3rem;
                // margin-bottom: 1.25rem;
                font-size: 1.5rem;
                line-height: 1.5rem;
            }
            .btn-control {
                margin: 0;
            }
        }
    }
    @media (min-width: map.get($grid-breakpoints, "xxl")) {
        padding: 10rem 0 2.725rem;
        &:before {
            height: 85%;
        }
        .carousel {
            // padding-bottom: 9.75rem;
            .carousel-button {
                .btn {
                    padding: 0.22rem 3.25rem;
                }
            }
            .h5_underline {
                font-size: 18px;
                line-height: 21px;
            }
            .btn {
                margin-bottom: 1.25rem;
                font-size: 18px;
                line-height: 18px;
            }
            .btn-control {
                margin: 0;
            }
        }
    }
}
