@use "sass:map";
#news {
    background-color: $white;
    padding: 3rem 0 2rem;
    .h5 {
        font-size: 7vw;
        line-height: 8.625vw;
        text-align: center;
    }
    .news-slider {
        margin-top: 0;
        padding-bottom: 1.75rem;
        position: relative;
        hr {
            margin: 0 1.5rem;
            background-color: $body-color;
            height: 0.25rem;
        }
        .mx-q {
            margin: 0 -1.5rem;
        }
        .slide-wrapper {
            padding: 1.25rem 1.5rem;
            border: 1px solid transparent;
            margin-bottom: 0;
            &:hover {
                background-color: $white;
                border: 1px solid $primary;
            }
            .slide-inner {
                padding: 1rem 0;
                border-top: 0.25rem solid $body-color;
                .category {
                }
                .date {
                    @include small_text_bold_16;
                }
                .image {
                    padding-top: 82%;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                }
                .title {
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 21px;
                    letter-spacing: 0.03em;
                    margin-bottom: 1rem;
                }
                .announce {
                    font-size: 18px;
                    line-height: 21px;
                    letter-spacing: 0.03em;
                }
            }
        }
        .carousel-button {
            position: absolute;
            z-index: 1;
            left: 0;
            bottom: 3.15rem;
            .btn {
                margin: 0;
                font-weight: bold;
                font-size: 24px;
                line-height: 171%;
                background-color: $white;
                padding: 0.475rem 4.25rem;
            }
        }
        .carousel-counter {
            @include txt_menu_1;
            position: absolute;
            width: 100%;
            text-align: center;
            z-index: 0;
            bottom: 3.875rem;
            color: $primary;
        }
        .carousel-arrows {
            position: absolute;
            right: 0;
            z-index: 1;
            bottom: 3.25rem;
            display: flex;
            width: 8.8125rem;
            z-index: 1;
            justify-content: space-between;
        }
        .btn {
            margin-bottom: 1.25rem;
        }
        .btn-control {
            margin: 0;
        }
    }
    @media (min-width: map.get($grid-breakpoints, "md")) {
        background-color: $greylight;
        padding: 3rem 0 2rem;
        .h5 {
            font-size: 2.125rem;
            line-height: 3rem;
            text-align: left;
        }
        .news-slider {
            padding-bottom: 9.75rem;
            position: relative;
            .mx-q {
                margin: 0 -1.5rem;
            }
            .slide-wrapper {
                padding: 1.25rem 1.5rem;
                border: 1px solid transparent;
                margin-bottom: 3rem;
                &:hover {
                    background-color: $white;
                    border: 1px solid $primary;
                }
                .slide-inner {
                    padding: 1rem 0 2rem;
                    border-top: 0.25rem solid $body-color;
                    .category {
                    }
                    .date {
                        @include small_text_bold_16;
                    }
                    .image {
                        padding-top: 82%;
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                    .title {
                        font-weight: bold;
                        font-size: 18px;
                        line-height: 21px;
                        letter-spacing: 0.03em;
                        margin-bottom: 1rem;
                    }
                    .announce {
                        font-size: 18px;
                        line-height: 21px;
                        letter-spacing: 0.03em;
                    }
                }
            }
            .carousel-button {
                position: absolute;
                z-index: 1;
                left: 0;
                bottom: 3.15rem;
                right: auto;
                .btn {
                    margin: 0;
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 1.725rem;
                    background-color: $white;
                    padding: 0.475rem 4.25rem;
                }
            }
            .carousel-counter {
                right: 9.125rem;
                width: auto;
            }
            .carousel-arrows {
                position: absolute;
                right: 0;
                z-index: 1;
                bottom: 3.25rem;
                display: flex;
                width: 7.125rem;
                z-index: 1;
                justify-content: space-between;
            }
            .btn {
                margin-bottom: 1.25rem;
            }
            .btn-control {
                margin: 0;
            }
        }
    }
    @media (min-width: map.get($grid-breakpoints, "xl")) {
        background-color: $greylight;
        padding: 12rem 0 4rem;
        .background-text {
            color: $white;
            top: 5.25rem;
            opacity: 1;
        }
        .news-slider {
            margin-top: 4rem;
            padding-bottom: 9.75rem;
            position: relative;
            hr {
                margin: 0 1.5rem;
                background-color: $body-color;
                height: 0.25rem;
            }
            .mx-q {
                margin: 0 -1.5rem;
            }
            .slide-wrapper {
                padding: 1.25rem 1.5rem;
                border: 1px solid transparent;
                margin-bottom: 3rem;
                &:hover {
                    background-color: $white;
                    border: 1px solid $primary;
                }
                .slide-inner {
                    padding: 1rem 0 2rem;
                    border-top: 0.25rem solid $body-color;
                    .category {
                    }
                    .date {
                        @include small_text_bold_16;
                    }
                    .image {
                        padding-top: 82%;
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                    .title {
                        font-weight: bold;
                        font-size: 18px;
                        line-height: 21px;
                        letter-spacing: 0.03em;
                        margin-bottom: 1rem;
                    }
                    .announce {
                        font-size: 18px;
                        line-height: 21px;
                        letter-spacing: 0.03em;
                    }
                }
            }
            .carousel-button {
                position: absolute;
                z-index: 1;
                left: 0;
                bottom: 3.15rem;
                .btn {
                    margin: 0;
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 171%;
                    background-color: $white;
                    padding: 0.475rem 4.25rem;
                }
            }
            .carousel-counter {
                @include txt_menu_1;
                position: absolute;
                width: 100%;
                text-align: center;
                z-index: 0;
                bottom: 3.875rem;
                color: $primary;
            }
            .carousel-arrows {
                position: absolute;
                right: 0;
                z-index: 1;
                bottom: 3.25rem;
                display: flex;
                width: 8.8125rem;
                z-index: 1;
                justify-content: space-between;
            }
            .btn {
                margin-bottom: 1.25rem;
            }
            .btn-control {
                margin: 0;
            }
        }
    }
}
