.favorit-link {
    circle {
        fill: $white;
        stroke: $gray;
    }
    path {
        fill: $gray;
        stroke: $gray;
    }
    &:hover {
        circle {
            fill: $white;
            stroke: $red;
        }
        path {
            fill: $red;
            stroke: $red;
        }
    }
    &.active {
        circle {
            fill: $white;
            stroke: $red;
        }
        path {
            fill: $red;
            stroke: $red;
        }
    }
}
